.header {
    position: fixed;
    width: 100%;
    aspect-ratio: 20/2;
    border: solid 1px black;
    background-image: url('../dkt_shop/bai\ ket\ thuc\ mon\ web/9bc27292880429.5e569ff84e4d0.gif');
    top: 0;
    transition-property: opacity, aspect-ratio;
    transition-duration: 2s, 2s;
}

.logo {
    width: 8%;
    aspect-ratio: 2/2;

    background-image: url('../dkt_shop/bai ket thuc mon web/LOGO/dk2.gif');
    background-size: 100%;
    position: relative;
    left: 0.75%;
    top: 10px;
    float: left;

}

.header_right {
    float: right;
    height: 100%;
    width: 70%;
}

.DD {
    float: right;
    position: relative;
    top: 10px;
}

.DD>ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-right: 10px;
}

.DD>ul>li {
    color: white;
    size: 40px;
    float: left;
    margin-right: 20px;
}

.DD>ul>li:hover {
    color: #13ffff;
}

.search {
    float: left;
    position: relative;
    top: 49%;
    left: 15%;
    display: flex;
    align-items: center;
}

.search_input {
    width: 122px;
    border-radius: 10px;
    transition: width 2s;
    background: #a2a0c8;
}

.search_input:hover {
    width: 265px;
    border-radius: 10px;
    /* transform: matrix(1000); */
    background-color: white;

}

.search_input_affter {
    width: 265px;
    border-radius: 10px;
    background-color: white;
}

.count_cart {
    color: white;
    background-color: rgb(40, 187, 255);
    display: flex;
    align-items: center;
    width: 16px;
    aspect-ratio: 2/2;
    justify-content: space-around;
    border-radius: 10px;
    position: absolute;
    top: -8px;
    left: 222px;
    font-size: 10px;
    opacity: 0.87;


}

.header2 {


    position: fixed;
    width: 100%;
    border: solid 1px black;
    background-image: url('../dkt_shop/bai\ ket\ thuc\ mon\ web/9bc27292880429.5e569ff84e4d0.gif');
    top: 0;

    /* position: fixed;
    top: 0; */
    opacity: 0.5;
    aspect-ratio: 23/2;
    transition-property: opacity, aspect-ratio;
    transition-duration: 4s, 2s;

}

.buttonSearch:hover {
    /* background-color: rgb(0, 255, 255); */
    color: rgb(0, 255, 255);
    /* border-radius: 10px; */
    /* display: none; */
}